
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=itsl_website
DATABASE_USERNAME=itsl_website
DATABASE_PASSWORD=itsl_website
DATABASE_SSL=false
DATABASE_FILENAME=

# Google Cloud Storage
GCS_BUCKET_NAME=your-bucket-name
GCS_SERVICE_ACCOUNT_PATH=./gcs_service_account.json
GCS_BASE_PATH=
GCS_BASE_URL=https://storage.googleapis.com/{bucket-name}
GCS_PUBLIC_FILES=true
GCS_UNIFORM=true
GCS_SKIP_CHECK_BUCKET=false
GCS_CDN_HOST=storage.googleapis.com
